* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  .container {
    height: 100%;
  }


.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0px;
} 


  .main {
    width: 78%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
  }

  .container_light {
    background-image: url(assets/img/light_theme.jpg);
    background-size: cover;
  }

  .container_dark {
    background-image: url(assets/img/dark_theme.jpg);
    background-size: cover;
    color: whitesmoke;
  }

  .settings {
    width: 95%;
    padding: 15px 15px 0 15px;
    display: flex;
    justify-content: space-between;
  }

  .difficulcy-block {
    margin-bottom: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .level {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .difficulcy-block__mines-quantity {
    margin: 10px auto;    
  }

  .mines-quantity__input {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
  }

  .mines-quantity {
    display: flex;
    align-items: center;
  }

  .minesweeper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .minesweeper_light {
    border: 1px solid rgb(75, 174, 97);
    background-color: rgb(75, 174, 97);
  }

  .minesweeper_dark {
    border: 1px solid #80EA69;
    background-color: white;
  }

  .upper-section {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .upper-section_light{
    background-color: rgb(114, 241, 141);
    border: 1px solid rgb(100, 242, 131);
  }
  
  .upper-section_dark{
    background-color: #188A00;
    border: 1px solid #188A00;
  }

  .emoji {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .emoji_light{
    background-color: #3BDA00;
    box-shadow: inset 2px 2px rgb(182, 251, 197), inset -2px -2px rgb(75, 174, 97);
  }

  .emoji_dark{
    background-color: #3BDA00;
    box-shadow: inset 2px 2px rgb(182, 251, 197), inset -2px -2px #3DA028;
  }
  
  .emoji-img {
    display: block;
    width: 30px;
    height: 30px;
  }

  .lower-section {
    display: flex;
    flex-wrap: wrap;
  }

  .lower-section_ten {
    width: calc(24px * 10 + 2px);
    height: calc(24px * 10 + 2px);
  }

  .lower-section_fifteen {
    width: calc(24px * 15 + 2px);
    height: calc(24px * 15 + 2px);
  }

  .lower-section_twenty-five{
    width: calc(24px * 25 + 2px);
    height: calc(24px * 25 + 2px);
  }

  .lower-section_light {
    border: 1px solid rgb(75, 174, 97);
    background-color: rgb(100, 242, 131);
  }

  .lower-section_dark {
    border: 1px solid #188A00;
    background-color: #188A00;
  }

  .cell {
    width: 24px;
    height: 24px;
  }

  .cell_light {
    border: 1px solid rgb(75, 174, 97);
  }

  .cell_dark {
    border: 1px solid #3DA028;
  }

  .cell_closed_light {
    background-color: #3BDA00;
    box-shadow: inset 2px 2px rgb(182, 251, 197), inset -2px -2px rgb(75, 174, 97);
  }

  .cell_closed_dark {
    background-color: #3BDA00;
    box-shadow: inset 2px 2px rgb(182, 251, 197), inset -2px -2px #3DA028;
  }

  .cell_null {
    background-color: white;
    border: 1px dotted rgb(75, 174, 97);
  }

  .cell_mine {
    background-image: url(assets/img/mine.png);
    background-size:contain;
  }

  .cell_1 {
    background-image: url(assets/img/1.png);
    background-size:contain;
  }

  .cell_2 {
    background-image: url(assets/img/2.png);
    background-size:contain;
  }

  .cell_3 {
    background-image: url(assets/img/3.png);
    background-size:contain;
  }

  .cell_4 {
    background-image: url(assets/img/4.png);
    background-size:contain;
  }

  .cell_5 {
    background-image: url(assets/img/5.png);
    background-size:contain;
  }

  .cell_6 {
    background-image: url(assets/img/6.png);
    background-size:contain;
  }

  .cell_7 {
    background-image: url(assets/img/7.png);
    background-size:contain;
  }

  .cell_8 {
    background-image: url(assets/img/8.png);
    background-size:contain;
  }

  .cell_mine_background_red {
    background-image: url(assets/img/mine\ -\ red.png);
    background-size: contain;
  }

  .cell_flag {
    background-image: url(assets/img/flag.png);
    background-size: contain;
  }

  .message-game-result  { 
    font-size: xx-large;
    text-align: center;
    height: 37px;
  }

  .info {
    font-size: large;
  }

  .button {
    width: 105px;
    height: 30px;
  }

  .sound {
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    background-image: url(assets/img/sound_on.png);
    background-size: contain;
  }

  .sound_off {
    background-image: url(assets/img/sound_off.png);
    background-size: contain;
  }